


 @media only screen and (max-width: 768px) {
.cool {
    padding:20px; 

}

}

@media only screen and (max-width: 425px) {
    .cool {
        padding:20px;  
        overflow-y: scroll !important;
        overflow: hidden !important;
        
    }
    
    }  

    .mapboxgl-ctrl-group {
        width: 30px;
        margin: 10px 0 0 10px;
        
    }